body {
  background-color: #d8d8d8 !important;
}

.ui.inverted.top.fixed.menu{
  background-image: linear-gradient(135deg,rgb(70, 70, 70)  0%, rgb(200, 200, 200) 100%);
}

.ui.segment{
  background-color: #bdbdbd !important;
}

.content{
 text-align: center !important;
}

.ui.card{
  background-color: #bdbdbd !important;
}

.ui.card>.content>.header{
  color: rgb(0, 0, 0) !important;
  font-size: 2cm;
}
.ui.card>.content>.description{
  color: rgb(0, 0, 0) !important;
  font-size: 150%;
}